.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    color: rgb(221, 217, 217);
    background-color: rgb(34, 32, 32);
    border-radius: 6px;
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    flex-direction: column;
    padding: 3vh;
    overflow: hidden;
  }